.CardContainer{
    text-align: center;
    padding: 25px; 
}
.CardTitle{
    margin-top: 10px;
    font-weight: bolder;
}
.CardText{
    font-size:  20px;
    font-weight: bold;
}
.CardSubtitle{
    font-weight: bolder;
}

.Image{
    max-width: 50%;
} 
