.CardBox{
    background-color: #dcdcdc; 
    border: 1px solid #696969;
}

.CardContainer{
    padding: 10px;  
}

.Card{
    margin: 25px;
}

/* .Image{
    width: 50px(auto);
    height: 50px(auto);
} */
